[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=space
indent_size=2

[{spring.schemas,spring.handlers,*.conf,*.cfg,*.properties}]
indent_style=space
indent_size=4

[{Makefile.*,makefile,Makefile,GNUmakefile,*.mk}]
indent_style=tab
tab_width=4

[.editorconfig]
indent_style=space
indent_size=4

[{*.cql,*.ddl,*.sql}]
indent_style=space
indent_size=4

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

[{*.mkd,*.md,*.markdown}]
indent_style=space
indent_size=4
